<nav class="navbar">
    <div class="logo-wrapper">
        <svg width="80" height="80" viewbox="0 0 200 200">
            <circle cx="40" cy="40" r="30" fill="red" />
        </svg>
    </div>


    <div class="link-wrapper">
        <ul class="link-group">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="projects">Projects</a></li>
            <li><a routerLink="about-me">About Me</a></li>
            <li><a routerLink="contact">Contact Me</a></li>
        </ul>
    </div>

</nav>