<section id="Hero Image">
    <div class="hero-image">
    </div>
</section>
<section id="1st Block" class="primary">
    <div >
        <h1>Project Section</h1>
        <p>Project Carousel</p>
    </div>
</section>
<section class="secondary">
    <div class="tertiary-text">
        <h1>About Me</h1>
        <p>Details regarding my life...plus link to page</p>
    </div>
</section>
<section class="tertiary">
    <div class="tertiary-text">
        <h1>Get in Contact</h1>
        <p>link to form page</p>
    </div>
</section>
