/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

.primary {
    background-color: #d8ebff ;
}

.secondary {
    background-color: hsl(233, 83%, 45%) 
}

.tertiary {
    background-color: #001e3b;
}

.primary-text {
    color: #000000
}

.tertiary-text {
    color: rgb(255, 255, 255)
}

